.title {
    font-family: serif;
}

.cover {
    height: 100%;
    width: 100%;
    display: table;
    background-image: url(/assets/top-scaled.jpg);
    background-color:rgba(255,255,255,0.4) ;
    background-blend-mode:lighten;
    background-size: 100% 100%;
}

.text-center {
    display: table-cell;
    vertical-align: middle;
}

.page a,
.next a,
.last a,
.first a,
.prev a {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.page a:hover,
.next a:hover,
.last a:hover,
.first a:hover,
.prev a:hover {
    color: black;
}

.current {
    font-weight: bold;
}